/*Body*/


.inside {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.inside img {
    width: 22%;
    border-radius: 50%;
}

#category1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}


.animate__animated.animate__fadeInLeft {
    animation-delay: 0.5s;
}

.list {
    font-size: 18px;
    padding-bottom: 4%;
    padding-top: 4%;
    text-align: center;
}