/*Body*/


.inside {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.inside img {
    width: 22%;
    border-radius: 50%;
    margin-bottom: 20px;
}

#category1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}


.animate__animated.animate__fadeInLeft {
    animation-delay: 0.5s;
}

.list {
    font-size: 18px;
    padding-bottom: 4%;
    padding-top: 4%;
    text-align: center;
}

.button {
    width: 200px;
    height: 50px;
    background: #f3f0f0;
    position: relative;
    margin-bottom: 25px;
    border-radius: 32px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow: -6px -6px 10px rgba(238, 0, 20, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #000000;
}
.button:hover {
    opacity: 0.6;
    box-shadow: -6px -6px 10px rgba(238, 0, 20, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}