* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(175, 0, 15);
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    overflow: hidden;
}
 
h3 {
    text-transform: capitalize;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

/*Header*/

header {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 100vh;
    background: linear-gradient(98deg, rgba(255, 255, 255,0.88) calc(69.5% - 0.2px), rgba(175, 0, 15,0) 70%);
    z-index: 1;
}

nav {
    text-transform: uppercase;
}
#title {
    padding: 30px 0 0 40px;
}

h1 {
    font-size: 420%;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 70px;
    font-family: 'Azonix';
}

 nav p {
    font-weight: bold;
 }

nav ul {
    padding-top: 60px;
    list-style-type: none;
}

nav ul li {
    padding: 15px 0;
}

nav ul li a {
    padding: 5px 0 5px 40px;
    font-weight: bold;
}

.information {
    padding-right: 15px;
}

.experience {
    padding-right: 13.22px;
}

.languages {
    padding-right: 34.07px;
}

.cursus {
    padding-right: 54.77px;
}

.portfolio {
    padding-right: 30.9px;
}

nav ul li a:hover {
    color: white;
    background-color: black;
    font-weight: bold;
    animation: slidehover alternate 0.5s;
}

@keyframes slidehover {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: 5px;
    }
    100% {
        margin-left: 0px;
    }
  }

.listNetwork {
    margin-top: 15%;
    margin-left: 10%;
}
    
.listNetwork img {
    width: 10%;
    border-radius: 30%;
    transition: border-radius 2s;
    padding: 0 10px;
}
    
.listNetwork img:hover {
    border-radius: 50%;
    transition: all 1s;
}
/*Body*/
h2 {
    text-transform: uppercase;
    color: white;
    background-color: black;
    font-size: 250%;
    padding: 5px 15px;
    margin-bottom: 60px;
}

.square {
    position: absolute;
    top: 700px;
    left: 350px;
	width: 60px;
	height: 60px;
	background-color: rgba(255, 255, 255,0.50);
	animation: square 20s infinite alternate;
    transition-timing-function: linear;
    z-index: 0;
}
.squaretwo {
    position: absolute;
    top: 700px;
    left: 320px;
	width: 40px;
    height: 40px;
    border-radius: 50%;
	background-color: rgba(255, 255, 255,0.50);
	animation: square 18s infinite alternate;
	transition-timing-function: linear;
}
.squarethree {
    position: absolute;
    top: 700px;
    left: 370px;
	height : 0;
    width : 0;
    border-right : 27px solid transparent;
    border-bottom : 48px solid rgba(255, 255, 255,0.50);
    border-left : 28px solid transparent;
	animation: square 16s infinite alternate;
	transition-timing-function: linear;
}
.squarefour {
    position: absolute;
    top: 700px;
    left: 350px;
	width: 20px;
	height: 20px;
	background-color: rgba(255, 255, 255,0.50);
	animation: square 21s infinite alternate;
    transition-timing-function: linear;
    z-index: 0;
}
.squarefive {
    position: absolute;
    top: 700px;
    left: 620px;
    height : 0;
    width : 0;
    border-right : 27px solid transparent;
    border-bottom : 48px solid rgba(255, 255, 255,0.50);
    border-left : 28px solid transparent;
	animation: square 27s infinite alternate;
    transition-timing-function: linear;
    z-index: 0;
}
.squaresix {
    position: absolute;
    top: 700px;
    left: 900px;
	width: 50px;
	height: 50px;
	background-color: rgba(255, 255, 255,0.50);
	animation: square 29s infinite alternate;
    transition-timing-function: linear;
    z-index: 0;
}
.squareseven {
    position: absolute;
    top: 700px;
    left: 950px;
	width: 30px;
	height: 30px;
	background-color: rgba(255, 255, 255,0.50);
	animation: square 30s infinite alternate;
    transition-timing-function: linear;
    z-index: 0;
}
.squareeight {
    position: absolute;
    top: 700px;
    left: 1200px;
	width: 20px;
	height: 20px;
	background-color: rgba(255, 255, 255,0.50);
	animation: square 24s infinite alternate;
    transition-timing-function: linear;
    border-radius: 50%;
    z-index: 0;
}
.squarenine {
    position: absolute;
    top: 700px;
    left: 1250px;
	width: 50px;
	height: 50px;
	background-color: rgba(255, 255, 255,0.50);
	animation: square 23s infinite alternate;
	transition-timing-function: linear;
}
@keyframes square {
    0%   { 
        transform: translateY(0); 
    }
    100% { 
        transform: translateY(-700px) rotate(600deg); 
    }
  }
  